li{
    list-style-type: none;
    }
    .foodblock{
      margin: 10px 0;
      display:flex;
      width:40%;
      height: 100%;
      
      box-shadow: 2px 2px  3px 1px;
      min-width: 380px;
      color: #572;
      border-color: 1px solid #572;
      border-radius: 5px;
      
    }

    



    .foodimage{
       border:0;
      padding:0;
      margin:0;
    }
    .content{
        flex-grow: 8;
        
        padding: 5px;
      }
    
    
    .imagef{
      padding: 4px;
      width: 120px;
      
     
      border-radius: 4px 0 0 4px;
      height: 70px;
      transition: 0.3s;
    }
    .imagef:hover{
     width: 250px;
      height: 250px;
    }
    
    .namenprice,.desnadd{
      display: flex; 
      padding: 5px;
      justify-content: space-between;
    }
    
    
    .add{
      color: white;
      text-align:center;
      padding: 5px 15px;
      background-color: #666;
      
      border-radius: 5px;
      transition: 0.3s;
      cursor: pointer;
      box-shadow: 2px 2px 1px #572;
      outline: none;
      border: none;
    }
    .add:hover{
      color: yellow;
      background: #572;
    }
    .add:active {
      background-color: #3e8e41;
      box-shadow: 1px 1px 4px #572;
      transform: translate(2px, 2px);
      
    }